export CODE_DIR=/home/code
export AGENT_DIR=/home/agent
export WORKSPACE_BASE=/home/paper
export MAX_TIME_IN_HOURS=1.0
export DISALLOW_SUBMIT=False
export ITERATIVE_AGENT=True
export MODEL='openai/gpt-4o-mini'
export AZUREAI_OPENAI_API_KEY=''
export AZURE_OPENAI_BASE_URL='https://api.umgpt.umich.edu/azure-openai-api'
export AZUREAI_OPENAI_API_VERSION="2024-06-01"
export ORGANIZATION=''

# for OPENAI 
# export MODEL='openai/gpt-4o-mini'
# export OPENAI_API_KEY=''